In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm
from copy import deepcopy
from datetime import timedelta

import plotly.offline
import cufflinks as cf
import plotly.express as px
from plotly.offline import iplot
import plotly.graph_objects as go
from IPython.core.interactiveshell import InteractiveShell

cf.go_offline()
cf.set_config_file(offline=False, world_readable=True)
InteractiveShell.ast_node_interactivity = "all"

In [2]:
df_Aax_orderbook = pd.read_csv('/home/brainiac/Vlad/Git Files/CryptoLp DataScience/DataSets/AAX_DATA/Aax_Orderbook.csv')
df_Aax_orders = pd.read_csv('/home/brainiac/Vlad/Git Files/CryptoLp DataScience/DataSets/AAX_DATA/Aax_Orders.csv')

df_BM_orderbook = pd.read_csv('/home/brainiac/Vlad/Git Files/CryptoLp DataScience/DataSets/Quotes/2020_07/quote_2020_07.csv')
df_BM_orders = pd.read_csv('/home/brainiac/Vlad/Git Files/CryptoLp DataScience/DataSets/Trades/2020_07/trade_2020_07.csv')



d1 = df_BM_orderbook[(df_BM_orderbook['timestamp']>='2020-07-17 21:00:00')& 
                     (df_BM_orderbook['timestamp']<'2020-07-18')]

d2 = df_BM_orderbook[(df_BM_orderbook['timestamp']>='2020-07-18')& 
                     (df_BM_orderbook['timestamp']<'2020-07-19')]

d3 = df_BM_orderbook[(df_BM_orderbook['timestamp']>='2020-07-19')& 
                     (df_BM_orderbook['timestamp']<'2020-07-20')]

d4 = df_BM_orderbook[(df_BM_orderbook['timestamp']>='2020-07-20')& 
                     (df_BM_orderbook['timestamp']<'2020-07-21')]

d5 = df_BM_orderbook[(df_BM_orderbook['timestamp']>='2020-07-21 00:00:00')& 
                     (df_BM_orderbook['timestamp']<'2020-07-21 05:00:00')]

d6 = df_BM_orderbook[(df_BM_orderbook['timestamp']>='2020-07-27 15:00:00')& 
                     (df_BM_orderbook['timestamp']<'2020-07-28')]

d7 = df_BM_orderbook[(df_BM_orderbook['timestamp']>='2020-07-28 00:00:00')& 
                     (df_BM_orderbook['timestamp']<'2020-07-28 10:00:00')]

d8 = df_BM_orderbook[(df_BM_orderbook['timestamp']>='2020-07-28 13:00:00')& 
                     (df_BM_orderbook['timestamp']<'2020-07-29')]

d9 = df_BM_orderbook[(df_BM_orderbook['timestamp']>='2020-07-29 00:00:00')& 
                     (df_BM_orderbook['timestamp']<'2020-07-29 10:00:00')]

d10 = df_BM_orderbook[(df_BM_orderbook['timestamp']>='2020-07-29 15:00:00')& 
                     (df_BM_orderbook['timestamp']<'2020-07-30')]

df_BM_orderbook = pd.concat([d1,d2,d3,d4,d5,d6,d7,d8,d9,d10])
del d1,d2,d3,d4,d5,d6,d7,d8,d9,d10




df_Aax_orderbook['datetime'] = pd.to_datetime(df_Aax_orderbook['datetime'])
df_Aax_orders['transaction_time'] = pd.to_datetime(df_Aax_orders['transaction_time'])
df_BM_orderbook['timestamp'] = pd.to_datetime(df_BM_orderbook['timestamp'])
df_BM_orders['timestamp'] = pd.to_datetime(df_BM_orders['timestamp'])


for i in tqdm(range(len(df_Aax_orderbook))):
    df_Aax_orderbook['datetime'][i] = str(df_Aax_orderbook['datetime'][i])

for i in tqdm(range(len(df_Aax_orders))):
    df_Aax_orders['transaction_time'][i] = str(df_Aax_orders['transaction_time'][i])
    
df_Aax_orderbook = df_Aax_orderbook.sort_values(by=['datetime'])
df_Aax_orders = df_Aax_orders.sort_values(by=['datetime'])

df_BM_orderbook = df_BM_orderbook.sort_values(by=['timestamp'])
df_BM_orders = df_BM_orders.sort_values(by=['timestamp'])

100%|██████████| 1010076/1010076 [00:41<00:00, 24224.91it/s]
100%|██████████| 705412/705412 [00:16<00:00, 43088.61it/s]

In [3]:
df_Aax_orderbook['datetime'].values[0], df_Aax_orderbook['datetime'].values[-1]
df_Aax_orders['transaction_time'].values[0], df_Aax_orders['transaction_time'].values[-1]

('2020-07-17 21:54:19.032219400+00:00', '2020-07-30 06:25:52.969085900+00:00')

('2020-07-14 06:35:55.244000+00:00', '2020-07-30 06:14:25.379000+00:00')

In [4]:
# df_BM_orderbook = df_BM_orderbook[(df_BM_orderbook['timestamp']>='2020-07-17') & 
#                                   (df_BM_orderbook['timestamp']<'2020-07-31')]

df_BM_orders = df_BM_orders[(df_BM_orders['timestamp']>='2020-07-14') & 
                            (df_BM_orders['timestamp']<'2020-07-31')]
f
df_Aax_orderbook = df_Aax_orderbook[df_Aax_orderbook['datetime']<'2020-07-30']

df_Aax_orderbook.index = range(len(df_Aax_orderbook))
df_Aax_orders.index = range(len(df_Aax_orders))
df_BM_orderbook.index = range(len(df_BM_orderbook))
df_BM_orders.index = range(len(df_BM_orders))

df_Aax_orderbook = df_Aax_orderbook[['datetime',
                                     'bid_1_price',
                                     'ask_1_price',
                                    ]]

df_Aax_orders = df_Aax_orders[['transaction_time','side','size','price','tick_direction']]
#df_Aax_orderbook['datetime'] = pd.to_datetime(df_Aax_orderbook['datetime'])
#df_Aax_orders['datetime'] = pd.to_datetime(df_Aax_orders['datetime'])

df_Aax_orders = df_Aax_orders.rename(columns={'transaction_time': 'datetime'})
df_BM_orderbook = df_BM_orderbook.rename(columns={'timestamp': 'datetime'})
df_BM_orders = df_BM_orders.rename(columns={'timestamp': 'datetime'})

In [5]:
df_Aax_orderbook.head(1)
df_Aax_orders.head(1)
df_BM_orderbook.head(1)
df_BM_orders.head(1)

                              datetime  bid_1_price  ask_1_price
0  2020-07-17 21:54:19.032219400+00:00       9150.0       9153.0

                           datetime  side   size   price  tick_direction
0  2020-07-14 06:35:55.244000+00:00     2  190.0  9189.5               0

                    datetime   bidSize  bidPrice  askPrice  askSize
0 2020-07-17 21:00:02.740511  871844.0    9150.0    9150.5  3389646

                    datetime side  size   price tickDirection
0 2020-07-14 00:00:02.903189  Buy   150  9230.5      PlusTick

In [6]:
df_Aax_orderbook['datetime'] = pd.to_datetime(df_Aax_orderbook['datetime'])
df_Aax_orders['datetime'] = pd.to_datetime(df_Aax_orders['datetime'])
df_BM_orderbook['datetime'] = pd.to_datetime(df_BM_orderbook['datetime'])
df_BM_orders['datetime'] = pd.to_datetime(df_BM_orders['datetime'])

In [7]:
df_Aax_orderbook['Spread'] = df_Aax_orderbook['ask_1_price']-df_Aax_orderbook['bid_1_price']
df_BM_orderbook['Spread'] = df_BM_orderbook['askPrice']-df_BM_orderbook['bidPrice']

In [8]:
df_Aax_orderbook = df_Aax_orderbook[df_Aax_orderbook['Spread']<100]
df_BM_orderbook = df_BM_orderbook[df_BM_orderbook['Spread']<100]
df_Aax_orderbook = df_Aax_orderbook.dropna()
df_BM_orderbook = df_BM_orderbook.dropna()
df_Aax_orderbook.index = range(len(df_Aax_orderbook))
df_BM_orderbook.index = range(len(df_BM_orderbook))

In [9]:
df_BM_orderbook['MidPrice'] = (df_BM_orderbook['askPrice']+df_BM_orderbook['bidPrice'])/2
df_Aax_orderbook['MidPrice'] = (df_Aax_orderbook['ask_1_price']+df_Aax_orderbook['bid_1_price'])/2

Bit_min = df_BM_orderbook.groupby(pd.Grouper(key='datetime', freq='1min')).min()['MidPrice'].values
Bit_mean = df_BM_orderbook.groupby(pd.Grouper(key='datetime', freq='1min')).mean()['MidPrice'].values
Bit_max = df_BM_orderbook.groupby(pd.Grouper(key='datetime', freq='1min')).max()['MidPrice'].values
Bit_datetime = df_BM_orderbook.groupby(pd.Grouper(key='datetime', freq='1min')).max().index

Aax_min = df_Aax_orderbook.groupby(pd.Grouper(key='datetime', freq='1min')).min()['MidPrice'].values
Aax_mean = df_Aax_orderbook.groupby(pd.Grouper(key='datetime', freq='1min')).mean()['MidPrice'].values
Aax_max = df_Aax_orderbook.groupby(pd.Grouper(key='datetime', freq='1min')).max()['MidPrice'].values
Aax_datetime = df_Aax_orderbook.groupby(pd.Grouper(key='datetime', freq='1min')).max().index

In [10]:
df_Bt_bars = pd.DataFrame(columns=['datetime','Min Price','Mean Price','Max Price'])
df_Bt_bars['datetime'] = Bit_datetime
df_Bt_bars['Min Price'] = Bit_min
df_Bt_bars['Mean Price'] = Bit_mean
df_Bt_bars['Max Price'] = Bit_max

df_Aax_bars = pd.DataFrame(columns=['datetime','Min Price','Mean Price','Max Price'])
df_Aax_bars['datetime'] = Aax_datetime
df_Aax_bars['Min Price'] = Aax_min
df_Aax_bars['Mean Price'] = Aax_mean
df_Aax_bars['Max Price'] = Aax_max

df_Aax_bars = df_Aax_bars.dropna()
df_Bt_bars = df_Bt_bars.dropna()
df_Aax_bars.index = range(len(df_Aax_bars))
df_Bt_bars.index = range(len(df_Bt_bars))

In [11]:
df_Bt_bars['D'] = df_Bt_bars['Max Price']-df_Bt_bars['Min Price']
df_Aax_bars['D'] = df_Aax_bars['Max Price']-df_Aax_bars['Min Price']

In [12]:
df_Bt_bars['D'].nunique()
df_Aax_bars['D'].nunique()

217

177

In [13]:
df_Bt_bars['D'].describe()

count    7740.000000
mean        4.873740
std        12.437753
min         0.000000
25%         0.000000
50%         0.000000
75%         5.500000
max       271.000000
Name: D, dtype: float64

In [14]:
df_Aax_bars['D'].describe()

count    6416.000000
mean        5.177057
std         7.349095
min         0.000000
25%         1.250000
50%         2.000000
75%         6.500000
max       109.000000
Name: D, dtype: float64

In [15]:
df_Bt_bars.shape
df_Aax_bars.shape

(7740, 5)

(6416, 5)

In [16]:
df_Bt_bars.head()
df_Aax_bars.head()

             datetime  Min Price   Mean Price  Max Price    D
0 2020-07-17 21:00:00    9150.25  9150.250000    9150.25  0.0
1 2020-07-17 21:01:00    9149.75  9149.957031    9150.25  0.5
2 2020-07-17 21:02:00    9148.25  9148.899946    9149.75  1.5
3 2020-07-17 21:03:00    9148.25  9148.250000    9148.25  0.0
4 2020-07-17 21:04:00    9148.25  9148.250000    9148.25  0.0

                   datetime  Min Price   Mean Price  Max Price     D
0 2020-07-17 21:54:00+00:00    9150.25  9151.386111    9151.75  1.50
1 2020-07-17 21:55:00+00:00    9150.00  9150.998457    9151.75  1.75
2 2020-07-17 21:56:00+00:00    9150.00  9151.102823    9151.25  1.25
3 2020-07-17 21:57:00+00:00    9151.25  9151.250000    9151.25  0.00
4 2020-07-17 21:58:00+00:00    9150.00  9150.872263    9151.25  1.25

In [17]:
df_Bt_bars['Price changes'] = df_Bt_bars['Mean Price'].diff()
mid_price = df_Bt_bars['Mean Price'].values
Price_changes_percent = [0]

for i in tqdm(range(1, len(df_Bt_bars))):
    a = ((mid_price[i]-mid_price[i-1])/mid_price[i-1])*100
    Price_changes_percent.append(a)
df_Bt_bars['Price changes percent'] = Price_changes_percent

df_Aax_bars['Price changes'] = df_Aax_bars['Mean Price'].diff()
mid_price = df_Aax_bars['Mean Price'].values
Price_changes_percent = [0]
for i in tqdm(range(1, len(df_Aax_bars))):
    a = ((mid_price[i]-mid_price[i-1])/mid_price[i-1])*100
    Price_changes_percent.append(a)
df_Aax_bars['Price changes percent'] = Price_changes_percent

100%|██████████| 7739/7739 [00:00<00:00, 544818.12it/s]
100%|██████████| 6415/6415 [00:00<00:00, 412346.90it/s]

In [18]:
df_price_changes_Bt = df_Bt_bars[df_Bt_bars['Price changes percent']>0.05]

In [19]:
df_PC_Aax = pd.DataFrame(columns=df_Aax_bars.columns)
for i in tqdm(range(len(df_price_changes_Bt))):
    a = df_Aax_bars[(df_Aax_bars['datetime']>=str(pd.to_datetime(df_price_changes_Bt['datetime'].values[i])-
                                                  timedelta(seconds=10)))&
                    (df_Aax_bars['datetime']<str(pd.to_datetime(df_price_changes_Bt['datetime'].values[i])+
                                                 timedelta(minutes=10)))]
    df_PC_Aax = pd.concat([df_PC_Aax,a])
df_PC_Aax = df_PC_Aax.drop_duplicates()
del a

100%|██████████| 677/677 [00:00<00:00, 894.55it/s]

In [20]:
dict_PC = {}
for i in tqdm(range(len(df_price_changes_Bt))):
    a = df_Aax_bars[(df_Aax_bars['datetime']>=str(pd.to_datetime(df_price_changes_Bt['datetime'].values[i])-
                                                  timedelta(seconds=10)))&
                    (df_Aax_bars['datetime']<str(pd.to_datetime(df_price_changes_Bt['datetime'].values[i])+
                                                 timedelta(minutes=10)))]
    if len(a) != 0:
        dict_PC.update({df_price_changes_Bt['datetime'].iloc[i].strftime('%Y-%m-%d %H:%M:%S'): a})
del a

100%|██████████| 677/677 [00:00<00:00, 1486.57it/s]

In [21]:
list_date = list(dict_PC.keys())

In [22]:
len(list_date)
len(df_price_changes_Bt['datetime'].values)

562

677

In [34]:
list_date[1]
dict_PC[list_date[1]]

'2020-07-27 15:00:00'

,datetime,Min Price,Mean Price,Max Price,D,Price changes,Price changes percent
4179,2020-07-27 15:00:00+00:00,10429.75,10435.807292,10436.75,7.00,-5.889137,-0.056400
4180,2020-07-27 15:01:00+00:00,10366.25,10396.760870,10411.50,45.25,-39.046422,-0.374158
4181,2020-07-27 15:02:00+00:00,10366.75,10374.888889,10383.00,16.25,-21.871981,-0.210373
4182,2020-07-27 15:04:00+00:00,10326.50,10338.763514,10342.00,15.50,-36.125375,-0.348200
4183,2020-07-27 15:05:00+00:00,10339.50,10351.534483,10363.50,24.00,12.770969,0.123525
4184,2020-07-27 15:06:00+00:00,10339.50,10344.709459,10347.75,8.25,-6.825023,-0.065932
4185,2020-07-27 15:07:00+00:00,10347.00,10354.617424,10358.25,11.25,9.907965,0.095778
4186,2020-07-27 15:08:00+00:00,10356.50,10359.942708,10373.50,17.00,5.325284,0.051429
4187,2020-07-27 15:09:00+00:00,10369.50,10369.695946,10372.25,2.75,9.753238,0.094144

In [24]:
df_PC_Aax['datetime'] = pd.to_datetime(df_PC_Aax['datetime']).map(lambda t: t.strftime('%Y-%m-%d %H:%M:%S'))
df_price_changes_Bt['datetime'] = pd.to_datetime(df_price_changes_Bt['datetime']).map(lambda t: t.strftime('%Y-%m-%d %H:%M:%S'))

In [52]:
df_price_changes_Bt.shape
df_PC_Aax.shape

(644, 7)

(1813, 7)

In [60]:
df_vlad = df_price_changes_Bt.merge(df_PC_Aax, on='datetime')

In [61]:
df_vlad.head(1)

,datetime,Min Price_x,Mean Price_x,Max Price_x,D_x,Price changes_x,Price changes percent_x,Min Price_y,Mean Price_y,Max Price_y,D_y,Price changes_y,Price changes percent_y
0,2020-07-27 15:00:00,10409.75,10424.594454,10436.75,27.0,1246.994386,13.587369,10429.75,10435.807292,10436.75,7.0,-5.889137,-0.0564

In [62]:
df_vlad = df_vlad[['datetime','Mean Price_x','Mean Price_y']]

df_vlad = df_vlad.rename(columns={'Mean Price_x': 'Mean Price Bitmex',
                                  'Mean Price_y': 'Mean Price Aax',})

In [63]:
df_vlad.head(1)

              datetime  Mean Price Bitmex  Mean Price Aax
0  2020-07-27 15:00:00       10424.594454    10435.807292

In [64]:
df_vlad['Price difference'] = df_vlad['Mean Price Aax'] - df_vlad['Mean Price Bitmex']

In [71]:
df_vlad

,datetime,Mean Price Bitmex,Mean Price Aax,Price difference,Price difference percent
0,2020-07-27 15:00:00,10424.594454,10435.807292,11.212838,0.107561
1,2020-07-27 15:05:00,10345.377129,10351.534483,6.157354,0.059518
2,2020-07-27 15:08:00,10361.526367,10359.942708,-1.583658,-0.015284
3,2020-07-27 15:12:00,10367.228641,10375.416667,8.188025,0.078980
4,2020-07-27 15:26:00,10346.834368,10343.687500,-3.146868,-0.030414
...,...,...,...,...,...
477,2020-07-29 23:41:00,11095.817130,11108.120690,12.303559,0.110885
478,2020-07-29 23:43:00,11108.671170,11119.445312,10.774143,0.096989
479,2020-07-29 23:46:00,11112.257209,11117.245614,4.988405,0.044891
480,2020-07-29 23:47:00,11119.831525,11121.414384,1.582859,0.014235
481,2020-07-29 23:49:00,11117.065385,11125.100694,8.035310,0.072279

In [70]:
df_vlad['Price difference percent'] = ((df_vlad['Mean Price Aax']*100)/df_vlad['Mean Price Bitmex'])-100

In [73]:
df_vlad[df_vlad['Price difference percent']>0.05]

,datetime,Mean Price Bitmex,Mean Price Aax,Price difference,Price difference percent
0,2020-07-27 15:00:00,10424.594454,10435.807292,11.212838,0.107561
1,2020-07-27 15:05:00,10345.377129,10351.534483,6.157354,0.059518
3,2020-07-27 15:12:00,10367.228641,10375.416667,8.188025,0.078980
7,2020-07-27 15:44:00,10360.245708,10369.986842,9.741134,0.094024
8,2020-07-27 15:55:00,10335.261857,10343.500000,8.238143,0.079709
10,2020-07-27 16:03:00,10335.781744,10342.931985,7.150241,0.069179
11,2020-07-27 16:06:00,10345.280824,10352.447279,7.166455,0.069273
12,2020-07-27 16:07:00,10351.427415,10359.548913,8.121498,0.078458
13,2020-07-27 16:12:00,10357.747717,10365.074561,7.326844,0.070738
15,2020-07-27 16:18:00,10392.039327,10398.118952,6.079624,0.058503
16,2020-07-27 16:21:00,10401.419304,10407.037433,5.618129,0.054013
17,2020-07-27 16:22:00,10420.050739,10426.807692,6.756953,0.064846
18,2020-07-27 16:24:00,10428.814062,10443.031250,14.217188,0.136326
19,2020-07-27 16:28:00,10429.615209,10436.335938,6.720728,0.064439
21,2020-07-27 16:32:00,10428.252786,10435.498047,7.245260,0.069477
28,2020-07-27 16:45:00,10470.601378,10476.467949,5.866570,0.056029
29,2020-07-27 16:47:00,10466.091328,10477.575000,11.483672,0.109723
48,2020-07-27 18:03:00,10885.036190,10894.049699,9.013509,0.082806
49,2020-07-27 18:04:00,10894.307065,10901.100000,6.792935,0.062353
53,2020-07-27 18:15:00,10881.940728,10891.077381,9.136653,0.083962
72,2020-07-27 21:38:00,10865.261387,10871.356757,6.095369,0.056100
85,2020-07-27 22:02:00,11115.563178,11127.122500,11.559322,0.103992
87,2020-07-27 22:04:00,11156.528202,11162.400794,5.872592,0.052638
109,2020-07-27 23:06:00,11199.750000,11205.371859,5.621859,0.050196
112,2020-07-27 23:11:00,11225.181274,11234.231132,9.049858,0.080621
141,2020-07-28 02:13:00,11120.686786,11135.641026,14.954240,0.134472
143,2020-07-28 02:22:00,11125.993112,11136.688889,10.695777,0.096133
158,2020-07-28 03:28:00,10963.328228,10972.194444,8.866216,0.080872
166,2020-07-28 03:53:00,10972.284109,10981.389313,9.105204,0.082984
168,2020-07-28 03:58:00,10994.156090,11000.608621,6.452530,0.058691
217,2020-07-28 09:50:00,10781.776181,10796.908046,15.131865,0.140347
219,2020-07-28 13:00:00,11009.074417,11018.487705,9.413288,0.085505
221,2020-07-28 13:02:00,11030.391703,11038.607595,8.215892,0.074484
222,2020-07-28 13:04:00,11039.184622,11047.623188,8.438567,0.076442
223,2020-07-28 13:05:00,11046.882884,11052.884409,6.001525,0.054328
226,2020-07-28 13:20:00,11002.215837,11008.148098,5.932261,0.053919
235,2020-07-28 13:56:00,11015.409396,11021.631980,6.222583,0.056490
241,2020-07-28 14:13:00,11062.420425,11075.450000,13.029575,0.117782
302,2020-07-28 18:09:00,10944.554779,10950.337571,5.782792,0.052837
307,2020-07-28 18:24:00,10954.443253,10963.336957,8.893704,0.081188
312,2020-07-28 18:53:00,10925.319053,10936.190415,10.871361,0.099506
313,2020-07-28 18:54:00,10934.393542,10945.101036,10.707494,0.097925
314,2020-07-28 19:01:00,10949.485142,10961.721795,12.236652,0.111756
318,2020-07-28 19:26:00,10962.562605,10977.269430,14.706825,0.134155
319,2020-07-28 19:30:00,10972.249821,10993.898964,21.649142,0.197308
320,2020-07-28 19:31:00,10979.962297,10995.698187,15.735890,0.143315
321,2020-07-28 19:37:00,10983.222659,10996.211538,12.988879,0.118261
322,2020-07-28 19:41:00,10990.990495,11007.841292,16.850797,0.153315
323,2020-07-28 19:42:00,11003.426388,11017.995968,14.569580,0.132409
324,2020-07-28 19:52:00,10999.769160,11023.380058,23.610898,0.214649
325,2020-07-28 19:53:00,11007.960961,11032.955882,24.994921,0.227062
326,2020-07-28 19:58:00,11011.279003,11028.932584,17.653581,0.160323
327,2020-07-28 20:04:00,11029.754234,11044.210294,14.456060,0.131064
330,2020-07-28 20:32:00,11010.211211,11017.393466,7.182255,0.065233
331,2020-07-28 21:00:00,11002.368343,11012.966578,10.598235,0.096327
332,2020-07-28 21:01:00,11009.953248,11018.720170,8.766922,0.079627
333,2020-07-28 21:03:00,11021.777067,11035.723684,13.946617,0.126537
334,2020-07-28 21:04:00,11029.701041,11037.633427,7.932386,0.071918
338,2020-07-28 21:21:00,11040.909973,11053.490683,12.580710,0.113946
340,2020-07-28 21:37:00,11049.977287,11066.111559,16.134273,0.146012